parameters:
    tmdb_api_metadata_key:
    tmdb_api_metadata_log:    /tmp/serferals.log
    extensions_search:        ['mov', 'mkv', 'mp4', 'avi']
    extensions_remove_first:  ['nfo', 'txt']
    extensions_remove_after:  ['srt', 'nfo', 'txt', 'jpg', 'png']
    default_destination_path: /pool/media/video
    container_configurations: app/config/containers.yml
