parameters:
    api_tmdb_key   : tmdb-api-key
    api_tmdb_log   : /tmp/serferals.log
    ext_media      : ['mov', 'mkv', 'mp4', 'avi']
    ext_remove_pre : ['nfo', 'txt']
    ext_remove_post: ['srt', 'nfo', 'txt', 'jpg', 'png']
