
##
# This file is part of the `src-run/serferals` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this source code.
##

#
# import additional resources
#
imports:

    - { resource: 'parameters.yml' }
    - { resource: 'versioning.yml' }
    - { resource: 'templating.yml' }


#
# service definitions
#
services:

    # main application
    app.application:
        class: SR\Serferals\Application\Application
        arguments:
            - "%app.name%"
            - "%app.version%"
            - "%app.author_name%"
            - "%app.author_email%"
            - "%app.license_name%"
            - "%app.license_link%"
        calls:
            - [ setContainer, [ "@service_container" ] ]
            - [ add,          [ "@app.command.file_organizer" ] ]
            - [ add,          [ "@app.command.file_deduplicator" ] ]

    # organizer command
    app.command.file_organizer:
        class: SR\Serferals\Command\FileOrganizerCommand
        arguments:
            - "@app.format_manager.media"
            - "%env(DEFAULT_OUTPUT_PATH)%"
            - "%default_search_media_extensions%"
            - "%default_search_subtitle_extensions%"
            - "%default_clean_first_extensions%"
            - "%default_clean_after_extensions%"
        calls:
            - [ setStyle,                 [ "@app.console_style" ] ]
            - [ setOptionsDescriptor,     [ "@app.command.options.descriptor.file_organizer" ] ]
            - [ setFinderGenerator,       [ "@app.tasks.finder_generator" ] ]
            - [ setFileMetadata,          [ "@app.tasks.file_metadata" ] ]
            - [ setFileSubtitleAssociate, [ "@app.tasks.file_subtitle_associate" ] ]
            - [ setTmdbMetadata,          [ "@app.tasks.tmdb_metadata" ] ]
            - [ setExtensionRemover,      [ "@app.tasks.extension_remover" ] ]
            - [ setDirectoryRemover,      [ "@app.tasks.directory_remover" ] ]
            - [ setFileInstruction,       [ "@app.tasks.file_instruction" ] ]
            - [ setFileAtomicMover,       [ "@app.tasks.file_atomic_mover" ] ]

    # deduplicator command
    app.command.file_deduplicator:
        class: SR\Serferals\Command\FileDeduplicatorCommand
        calls:
            - [ setStyle,             [ "@app.console_style" ] ]
            - [ setOptionsDescriptor, [ "@app.command.options.descriptor.file_deduplicator" ] ]
            - [ setFinderGenerator,   [ "@app.tasks.finder_generator" ] ]

    # file deduplicator options describer
    app.command.options.descriptor.file_deduplicator:
        class: SR\Serferals\Component\Console\Options\Descriptor\FileDeduplicatorOptionsDescriptor
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # file organizer options describer
    app.command.options.descriptor.file_organizer:
        class: SR\Serferals\Component\Console\Options\Descriptor\FileOrganizerOptionsDescriptor
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # file format containers manager
    app.format_manager.media:
        class: SR\Serferals\Component\Formats\Manager\MediaManager
        arguments:
            - "%data_file_path_media%"
            - "@app.utilities.project"

    # file format containers manager
    app.format_manager.language:
        class: SR\Serferals\Component\Formats\Manager\LanguageManager
        arguments:
            - "%data_file_path_language%"
            - "@app.utilities.project"

    # filesystem instance
    app.filesystem:
        class: Symfony\Component\Filesystem\Filesystem

    # console logger instance
    app.console_logger:
        class: Symfony\Component\Console\Logger\ConsoleLogger
        arguments:
            - "@app.console_output"

    # console input instance
    app.console_input:
        class: Symfony\Component\Console\Input\ArgvInput

    # console output instance
    app.console_output:
        class: Symfony\Component\Console\Output\ConsoleOutput

    # console style instance
    app.console_style:
        class: SR\Console\Output\Style\Style
        arguments:
            - "@app.console_input"
            - "@app.console_output"

    # file finder generator task
    app.tasks.finder_generator:
        class: SR\Serferals\Component\Tasks\Filesystem\FinderGeneratorTask
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # file metadata task
    app.tasks.file_metadata:
        class: SR\Serferals\Component\Tasks\Metadata\FileMetadataTask
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # file subtitle associate task
    app.tasks.file_subtitle_associate:
        class: SR\Serferals\Component\Tasks\Metadata\FileSubtitleAssociateTask
        arguments:
            - "@app.format_manager.language"
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # tmdb metadata task
    app.tasks.tmdb_metadata:
        class: SR\Serferals\Component\Tasks\Metadata\TmdbMetadataTask
        arguments:
            - "@app.tasks.file_metadata"
            - "@app.metadata.action_helper"
            - "@app.tmdb.episode"
            - "@app.tmdb.movie"
        calls:
            - [ setStyle,  [ "@app.console_style" ] ]

    # extension remover task
    app.tasks.extension_remover:
        class: SR\Serferals\Component\Tasks\Filesystem\ExtensionRemoverTask
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # directory remover task
    app.tasks.directory_remover:
        class: SR\Serferals\Component\Tasks\Filesystem\DirectoryRemoverTask
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # file organizer task
    app.tasks.file_instruction:
        class: SR\Serferals\Component\Tasks\Filesystem\FileInstructionTask
        calls:
            - [ setFileTemplateEpisode, [ "%app.tpl_path_episode%", "%app.tpl_file_episode%" ]]
            - [ setFileTemplateMovie,   [ "%app.tpl_path_movie%", "%app.tpl_file_movie%" ]]

    # atomic file mover task
    app.tasks.file_atomic_mover:
        class: SR\Serferals\Component\Tasks\Filesystem\FileAtomicMoverTask
        calls:
            - [ setStyle, [ "@app.console_style" ] ]

    # episode tmdb resolver
    app.tmdb.episode:
        class: SR\Serferals\Component\Tmdb\EpisodeResolver
        arguments:
            - "%metadata_lookup_api_key%"
            - "%metadata_lookup_api_log%"
        calls:
            - [ setStyle,  [ "@app.console_style" ] ]

    # movie tmdb resolver
    app.tmdb.movie:
        class: SR\Serferals\Component\Tmdb\MovieResolver
        arguments:
            - "%metadata_lookup_api_key%"
            - "%metadata_lookup_api_log%"
        calls:
            - [ setStyle,  [ "@app.console_style" ] ]

    # metadata action helper
    app.metadata.action_helper:
        class: SR\Serferals\Component\Console\Helper\MetadataActionHelper
        calls:
            - [ setStyle,  [ "@app.console_style" ] ]

    # metadata action helper
    app.utilities.project:
        class: SR\Serferals\Utilities\ProjectUtilities
